<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.cadavre.wsnv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".WSNViewer"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:debuggable="true">
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConnectionPreferenceActivity"
            android:label="@string/title_conn_pref"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NodeAutoconfigActivity"
            android:label="@string/title_node_autoconfig"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HouseActivity"
            android:label="lejbel"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
    </application>

</manifest>